// Colors
$color-white: #fff;
$color-black: #222;
$color-gray: #eee;
$color-red: #ff013c;

// Fonts
$font-family-default: 'Proxima Nova', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 600;
